#footer {
  display: flex;
  justify-content: center;
  background-color: #9400d3c5;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

#footer:hover {
  background-color: #9400d3;
  transform: scale(1.1);
}

.Link__footer {
  text-decoration: none;
  color: black;
}
